body {
  font-family: 'Arial', sans-serif;
  margin: 5px;
  padding: 10px;

}

h1 {
  color: #FF0000;
  text-align: left;
}

h2 {
  color: #0000FF;
  text-align: left;
}

ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
}

li {
  margin-bottom: 5px;
}